<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Home Of Smiles</title>
    <link 
    rel="stylesheet"
    href="/style/style.css"/>

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
    <div class="nav">
        <nav class="navbar sticky-top bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="https://maps.app.goo.gl/5Jh7TSgmiHGmkHCRA ">About us </a>
              <a class="navbar-brand" href="https://wa.me/918058379149">Book an appoinment</a>
            </div>
          </nav>
    </div>
    <br>
    <div class="safe">
      <div>
        <img src="header pic.jpg" class="img-fluid" alt="pic"  height="300px" width="300px">
      </div>
      <div class="divclass">
        <br>

        <a  href="https://wa.me/918058379149" style="text-decoration:none">
            <!-- <div class="d-grid gap-2 col-6" id="book"> -->
                <button class="btn btn-primary btn-lg" type="button">BOOK  ONLINE</button>
                <br/>
                
                <a  class="a"> OR CALL </a>
                <a  class="a">  +918058379149 </a>
              <!-- </div> -->
            </a>
    </div>
    </div>

 
   
    <br>
    <br>

        <div class="list">
            <ul class="TO">
                <br>
              <h3> Treatments offered </h3>
                
                
                <hr>

                <li class="points"><i class="fa-solid fa-tooth"></i>   Dental Implants</li>
                <li class="points"><i class="fa-solid fa-tooth"></i>  Root Canal  Treatment</li>

                <li class="points"><i class="fa-solid fa-tooth"></i>   Crowns & Bridges</li>
                <li class="points"><i class="fa-solid fa-tooth"></i>   Wisdom Tooth Removal</li>
                <li class="points"><i class="fa-solid fa-tooth"></i>   Painless Tooth Extractions</li>
                <li class="points"><i class="fa-solid fa-tooth"></i>   Orthodontic Treatment(Wires &Braces)</li>
                <li class="points"><i class="fa-solid fa-tooth"></i>   Scaling & Polishing</li>
                <li class="points"><i class="fa-solid fa-tooth"></i>   Teeth Whitening</li>
            </ul>
            <div class="doc">
              <br>
    <br>

                   <h2>Meet Doctor <i class="fa-solid fa-user-doctor"></i> </h1>
                    <hr>
                   <h2> DR. TANMAY JAIN</h2>
                   <h3>Oral & Dental Surgeon</h3>
                   <h4>Root Canal Specialist</h4>
            </div>
             </div>   
    <br>    
    
    <!-- feedback -->
         <div class="container">
            <h4>FEEDBACK</h4>
            <div id="feedback-slider" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="feedback-container">
                    <h5>Abhishek yadav</h5>
                    <p>I had carries in my lower tooth which were causing too much sensitivity on intake of normal water.
                        The doctor explained the reason behind the sensitivity and restored the tooth within half an hour.
                        Now I can easily take sips of the cold drink.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="feedback-container">
                    <h5>Anwesa paul</h5>
                    <p>I am satisfied with his treatment.
                        My dental filling was done very well and he was very supportive</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="feedback-container">
                    <h5>Shwetha doshi </h5>
                    <p>Very nice hospitality. Totally satisfied with my root canal therapy. Doc was so supportive.</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#feedback-slider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#feedback-slider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>


          <br>
          <br>
          <div class="footer">
                     <div class="address"><h2 class="loc">LOCATION</h2>
                            <hr>
                         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14440.481324819419!2d75.831318!3d25.1991642!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396f9ba100b4b8e1%3A0xe3942d673942842f!2sThe%20Home%20Of%20Smiles!5e0!3m2!1sen!2sin!4v1727630168486!5m2!1sen!2sin" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
                            <!-- <p class="visit">   Deepak Mansion, Kunhadi Rd,</p>
                                <p class="visit">    near Namo Sandwich,</p>
                                    <p class="visit">   Kota, Rajasthan 324008</p>
                                    
                     </div> -->
                    </div>
   

                     <div class="follow">
                        <h2 class="visit">Connect Us</h2>
                      <div class="child">
                        <a href="https://www.instagram.com/thehomeofsmiles09?igsh=MWxnaTBlaGxmNWl5cQ=="><img src="insta.png" height="35px" width="35px" class="insta"> </a>
                        <a><img src="facebook.png" height="35px" width="35px" class="facebook"> </a>
                        <a><img src="youtube.png" height="35px" width="35px" class="X"> </a>
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=Thehomesofsmiles09@gmail.com">
                            <img src="gmail.png"  height="35px" width="35px" class="gmail"/>
                        </a>
                      </div>

                     </div>
                     
                       
                    </div>


        






        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>       
                  
           
                  
          <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
<script src="/js/script.js"></script>
</body>
</html>